@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Sue+Ellen+Francisco&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: Foglihtenno04;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/Foglihtenno04.otf') format('opentype');
}

@theme {
    --font-sans: 'Inclusive Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-handwriting: 'Sue Ellen Francisco', var(--font-serif);
    --font-display: 'Foglihtenno04', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold text-zinc-200;
    }

    p {
        @apply leading-relaxed text-zinc-400;
    }
}

@layer components {
    .block {
        @apply mx-auto w-9/10 max-w-272;
    }
}
